{% extends 'ASFCommerceBundle::layout.html.twig' %}

{% form_theme form 'Form/fields.html.twig' %}

{% block title %}{{ discount.getName() }}{% endblock %}

{% block asf_commerce_content %}

    <div class="container-fluid">
    	<div class="row">
    	    {{ form(form) }}
    	</div>
    </div>

{% endblock %}