{% extends 'ASFCommerceBundle::layout.html.twig' %}

{% form_theme form 'ASFCommerceBundle:form:fields.html.twig' %}

{% block asf_commerce_content %}

    <div class="container-fluid">
    	<div class="row">
    	    {{ form(form) }}
    	</div>
    </div>

{% endblock %}